.select-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 35px;
    margin-bottom: 20px;
}

.label {
    display: flex;
    align-items: center;
    background-color: #E9ECEF;
    width: auto;
    padding: 0 20px;
    height: 100%;
    font-weight: bold;    
    border: 1px solid #CED4DA;
    border-radius: 4px 0 0 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.select {
    height: 35px;
    border-radius: 10px 0 0 10px;
}