{
    "extends": [
      "react-app",
      "airbnb",
      "prettier"
    ],
    "plugins": [
      "jsx-a11y",
      "prettier"
    ],
    "rules": {
      "semi": 0,
      "import/prefer-default-export": "off",
      "no-shadow": "off",
      "no-unused-vars": "off",
      "react/function-component-definition": "off",
      "no-restricted-exports": "off",
      "react/jsx-props-no-spreading": "off",
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", ".ts"]  }],
      "import/extensions": [
        "error",
        {
          "ts": "never",
          "tsx": "never",
          "js": "never",
          "jsx": "never"
        }
      ],
      "no-underscore-dangle": [2, { "allow": [ "__WB_MANIFEST" ] }],
    },
    "settings": {
        "import/resolver": {
          "node": {
            "paths": ["./"],
            "extensions": [".js", ".jsx", ".ts", ".tsx"]
          }
        }
      }
  }