.calendar-container {
  padding-top: 20px;
  max-width: 900px;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  zoom: 90%;
}

.year-select-container {
  display: flex;
  justify-content: center;
  padding: 0 22px;
  margin-top: -50px;
}

@media screen and (max-width: 650px) {
  .year-select-container {
    margin-top: 0;
  }
}

@media screen and (max-width: 580px) {
  .calendar-container {
    zoom: 80%;
    margin-bottom: 20px;
  }
}
