.authContainer {
    width: 200px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.authContainer img {
    width: 100%;
}

.authContainer h1 {
    text-align: center;
    font-size: 25px;
}
